<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>
<% @comments.each do |comment|%>
  <p>------------------------------------------------------------------------</p>
  <p> Articel:: <%= comment.article_id %> </p>
  <p>Published at <%= comment.created_at.strftime('%b %d, %Y') %></p>
  <p>Content::<%= truncate(comment.content, length: 200) %></p>
  <p>Votes::<%= comment.votes %></p>
  <p>-------------------------------------------------------------------------</p>
<% end %>
<%= link_to 'New Comment', new_comment_path %>
