<p id="notice"><%= notice %></p>

<% if @subcategory!= nil %>
	<% @subcategory.each do |sub| %>
		<h2><%= link_to sub.name, sub %></h2>
	<% end %>
	<% @clanci.each do |article| %>
  		<h2><%= link_to article.title, article %></h2>
  		<p>Published at <%= article.created_at.strftime('%b %d, %Y') %></p>
  		<p><%= truncate(article.content.html_safe, length: 2000000) %></p>
	<% end %>
<% end %>
<%= link_to "Back", root_path, class: "btn btn-default" %>



